#!/bin/bash
set -e -E -u -C -o pipefail

TIMESTAMP=$(date +%Y_%m_%d_%H_%M_%S)
INFLUXDB_DATABASE="${1}"
INFLUXDB_BACKUP_NAME="${INFLUXDB_DATABASE}_${TIMESTAMP}"
INFLUXDB_DOCKER_BACKUP_PATH="/backup"
INFLUXDB_DOCKER_BACKUP_DB_PATH="${INFLUXDB_DOCKER_BACKUP_PATH}/${INFLUXDB_BACKUP_NAME}"
INFLUXDB_BACKUP_PATH="{{influxdb_backup_path}}"
INFLUXDB_BACKUP_DB_PATH="${INFLUXDB_BACKUP_PATH}/${INFLUXDB_BACKUP_NAME}"
INFLUXDB_BACKUP_DB_FILE="${INFLUXDB_BACKUP_PATH}/${INFLUXDB_BACKUP_NAME}.tar.bz2"

exec 1> >(logger -t $(basename $0)) 2>&1

if [ ! -d "${INFLUXDB_BACKUP_DB_PATH}" ]; then
    mkdir -p "${INFLUXDB_BACKUP_DB_PATH}"
fi

echo "INFO: Backup InfluxDB database \"${INFLUXDB_DATABASE}\""
docker exec --interactive docker.influxdb.service /usr/bin/influxd backup -database "${INFLUXDB_DATABASE}" "${INFLUXDB_DOCKER_BACKUP_DB_PATH}"

echo "INFO: Compress InfluxDB database backup \"$(basename ${INFLUXDB_BACKUP_DB_FILE})\""
tar cvjf "${INFLUXDB_BACKUP_DB_FILE}" -C "${INFLUXDB_BACKUP_PATH}" "${INFLUXDB_BACKUP_NAME}"

echo "INFO: Cleanup temporary InfluxDB backup directory \"${INFLUXDB_BACKUP_DB_PATH}\""
rm -rf "${INFLUXDB_BACKUP_DB_PATH}"

echo "INFO: Purge old InfluxDB database backups"
find "${INFLUXDB_BACKUP_PATH}" -name "${INFLUXDB_DATABASE}_*" -type f -mtime +14 -delete
