#!/bin/bash
set -e -E -u -C -o pipefail

exec 1> >(logger --tag $(basename $0)) 2>&1

echo "Start InfluxDB backup"

BACKUP_DIR="{{ influxdb_backup_path }}"
BACKUP_FILE="{{ influxdb_backup_path }}/influxdb-$(date +%Y-%m-%d-%H-%M).tar"

echo "Workaround: Create temp directory"
# https://github.com/influxdata/influxdb/issues/22890
docker exec --interactive influxdb.service \
    mkdir --parents /var/lib/influxdb2/temp

echo "Create backup of InfluxDB database"
docker exec --interactive influxdb.service \
    influx backup /var/backups/influxdb2/influxdb-$(date +%Y-%m-%d-%H-%M)
docker exec --interactive influxdb.service \
    influx auth list --org '{{ influxdb_primary_organization_name }}' --json > "${BACKUP_DIR}/$(basename --suffix .tar ${BACKUP_FILE})"/auth.json
tar --create --file "${BACKUP_FILE}" --directory "${BACKUP_DIR}/$(basename --suffix .tar ${BACKUP_FILE})/" .
rm --recursive --force "${BACKUP_DIR}/$(basename --suffix .tar ${BACKUP_FILE})"

echo "Delete InfluxDB backup archives older than 7 days"
find "${BACKUP_DIR}" -name "*.tar" -type f -mtime +7 -delete

echo "Finish InfluxDB backup"
