#!/bin/bash
set -e -E -u -C -o pipefail

exec 1> >(logger --tag $(basename $0)) 2>&1

echo "Start InfluxDB backup"

BACKUP_DIR="{{ influxdb_backup_path }}"

echo "Start backup of InfluxDB database"
docker exec --interactive influxdb.service influx backup /var/backups/influxdb2

echo "Compress backup of InfluxDB database"
find "${BACKUP_DIR}" -name "*.bolt" -type f -exec bzip2 {} \;
find "${BACKUP_DIR}" -name "*.manifest" -type f -exec bzip2 {} \;

echo "Delete old InfluxDB database backups"
find "${BACKUP_DIR}" -name "*.bz2" -type f -mtime +7 -delete

echo "Finish InfluxDB backup"
