[Unit]
Description=Docker InfluxDB Container
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{influxdb_docker_image_name}}:{{influxdb_docker_image_version}}
ExecStart=/usr/bin/docker run --init --name %n --env-file={{influxdb_etc_path}}/influxdb.env{% if influxdb_docker_publish_http_port %} --publish={{influxdb_docker_http_port}}:8086{% endif %}{% if influxdb_docker_publish_graphite_port %} --publish={{influxdb_docker_graphite_port}}:2003{% endif %}{% if influxdb_docker_publish_collectd_port %} --publish={{influxdb_docker_collectd_port}}:25826{% endif %}{% if influxdb_docker_publish_opentsdb_port %} --publish={{influxdb_docker_opentsdb_port}}:4242{% endif %}{% if influxdb_docker_publish_udp_port %} --publish={{influxdb_docker_udp_port}}:8089{% endif %} {{influxdb_docker_run_options}} {{influxdb_docker_image_name}}:{{influxdb_docker_image_version}}
ExecStop=/usr/bin/docker stop %n
TimeoutStartSec=0
Restart={{influxdb_docker_restart_container}}

[Install]
WantedBy=multi-user.target
