[Unit]
Description=InfluxDB
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull influxdb:{{ influxdb_docker_image_version }}
ExecStart=/usr/bin/docker run \
--name %n \
--init \
--memory={{ influxdb_docker_memory }} \
{% if influxdb_env_vars | dict2items | length > 0 %}
--env-file=/etc/influxdb.env \
{% endif %}
{% if influxdb_docker_labels | dict2items | length > 0 %}
--label-file=/etc/influxdb.label \
{% endif %}
--mount=type=bind,source={{ influxdb_backup_path }},destination=/var/backups/influxdb2 \
--mount=type=bind,source={{ influxdb_data_path }},destination=/var/lib/influxdb2 \
--mount=type=bind,source={{ influxdb_etc_path }},destination=/etc/influxdb2 \
--network={{ influxdb_docker_network }} \
--network-alias=influxdb \
--publish=127.0.0.1:8086:8086 \
--user=10300:0 \
influxdb:{{ influxdb_docker_image_version }}
ExecStop=/usr/bin/docker stop %n
SyslogIdentifier=%n
TimeoutStartSec=infinity
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
