[Unit]
Description=InfluxDB
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull influxdb:{{ influxdb_docker_image_version }}
ExecStart=/usr/bin/docker run \
--name %n \
--init \
--memory={{ influxdb_docker_memory }} \
{% if influxdb_env_vars | dict2items | length > 0 %}
--env-file={{ influxdb_etc_path }}/influxdb.env \
{% endif %}
{% if influxdb_docker_labels | dict2items | length > 0 %}
--label-file={{ influxdb_etc_path }}/influxdb.label \
{% endif %}
--mount=type=bind,source={{ influxdb_backup_path }},destination=/var/backups/influxdb \
--mount=type=bind,source={{ influxdb_data_path }},destination=/var/lib/influxdb \
--network={{ influxdb_docker_network }} \
--network-alias=influxdb \
--publish={{ influxdb_bind_address }}:8086:8086 \
--user=nobody:nogroup \
influxdb:{{ influxdb_docker_image_version }}
ExecStop=/usr/bin/docker stop %n
SyslogIdentifier=%n
TimeoutStartSec=infinity
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
